*, *::after, *::before {
	box-sizing: border-box;
}

p, h1, h2, h3, h4, h5, h6 {
	margin: 0;
}

h1, h2, h3, h4, h5, h6, button, input, select, textarea {
	font: inherit;
}

ul, li, dialog {
	padding: 0;
}

li {
	list-style: none;
}

label, button {
	cursor: pointer;
}

button:disabled {
	cursor: not-allowed;
}
