@property --primary {
	syntax: '<color>';
	inherits: true;
	initial-value: transparent;
}

@property --secondary {
	syntax: '<color>';
	inherits: true;
	initial-value: transparent;
}

@property --secondary-alt {
	syntax: '<color>';
	inherits: true;
	initial-value: transparent;
}

body {
	--dark-mode-transition: 0.4s;
	--primary: #333;
	--secondary: #efefef;
	--secondary-alt: #d8d8d8;
	--disabled-fg: #999;
	--active: #035339;
	--active-border: #068856;
	--selected-border: #a5840d;
	--selected-bg: #f4f4db;
	--control-border-color: #777;
	--tooltip-bg: #e7b60b;
	--tooltip-fg: #333;

	--min-font-size: max(12px, 0.875em);

	color: var(--primary);
	background: var(--secondary);

	transition-duration: var(--dark-mode-transition);
	transition-property: --primary, --secondary, --secondary-alt;
}

body[data-mode=dark] {
	--primary: #efefef;
	--secondary: #333;
	--secondary-alt: #3b3b3b;
	--disabled-fg: #777;
	--active: #07ba80;
	--selected-border: #dcd106;
	--selected-bg: #3b3b28;
}
